#nome {
left: 198px;
position: absolute;

}

#data{
left: 198px;
position: absolute;

}

#email{
left: 198px;
position: absolute;

}

#end{
left: 198px;
position: absolute;

}

#limpar{
left: 198px;
position: absolute;

}
